<template>
  <div class="clue">

    <div class="welcome" v-if="index === 0">
      <h1>Hey Sam!</h1>
      <p>Welcome to a this <b>sam</b>venger hunt. You will be using this app as a guide to find codes around the house that will give you a code. When you find a code, enter it down below.</p>
    </div>


    <div class="clue-text">
      <h1 class="title">Clue: {{ index + 1 }}<span v-if="clue.code"> | Code: {{ clue.code }}</span></h1>
      <p>{{ clue.text }}</p>
    </div>

    <div class="new-code" v-if="clue.leadsTo">
      <label for="clue">Code</label>
      <input name="clue" id="clue" type="text" placeholder="Enter Code Found On Clue" @input="checkCode">
      <div class="success-block">
        <div class="text">Well done!</div>
      </div>
    </div>

    <found v-if="index !== 0" :clues="foundClues" />
  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import Found from '@/components/Found'
import clues from '@/clues.json'

@Component({
  props: {
    code: [String, Number]
  },
  components: {
    Found
  }
})
export default class Clue extends Vue {
  get clue () {
    return clues[this.index]
  }

  get index () {
    const index = clues.findIndex(clue => parseFloat(this.code) === clue.code)
    return (~index) ? index : 0
  }

  get foundClues () {
    return [ ...clues ].slice(0, this.index)
  }

  checkCode (e) {
    if (parseFloat(e.target.value) === this.clue.leadsTo) {
      e.target.blur()
      e.target.parentElement.classList.add('success')
      setTimeout(() => {
        this.$router.push({ name: 'Clue', params: { code: this.clue.leadsTo } })
        e.target.parentElement.classList.remove('success')
        e.target.value = ''
        e.target.focus()
      }, 2000)
    }
  }
}
</script>

<style scoped>
.clue {
  display: block;

  & .welcome {
    & h1 {
      font-size: 2.6rem;
      font-weight: 100;
      text-align: center;
      color: #888888;
    }

    & p {
      font-size: 1.6rem;
      line-height: 1.5;
      color: #444444;
    }
  }

  & .clue-text {
    width: 100%;
    padding: 1rem;
    box-shadow: 1px 1px 6px 1px #dddddd;
    margin-bottom: 3rem;

    & h1 {
      font-size: 1.2rem;
      color: #999;
      text-transform: uppercase;
      margin: 0;
      font-weight: 300;
    }

    & p {
      border-left: 0.3rem solid #60a052;
      padding: 1rem;
      font-size: 1.8rem;
    }
  }

  & .new-code {
    position: relative;
    margin-bottom: 5rem;

    & label {
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      color: #888888;
      font-size: 1.2rem;
      font-weight: 300;
    }

    & input {
      display: block;
      width: 100%;
      appearance: none;
      border: 1px solid #dedede;
      background-color: #efefef;
      border-radius: 0.4rem;
      padding: 1.5rem;
      margin: 0;
      font-size: 1.4rem;
      text-align: center;
    }

    & .success-block {
      position: absolute;
      top: 1.85rem;
      left: 0;
      bottom: 0;
      right: 0;
      transform: scaleX(0);
      transform-origin: center left;
      opacity: 0;
      will-change: transform, opacity;
      background-color: #60a052;
      border-radius: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      color: #ffffff;
      transition: 0.3s ease opacity, 0.1s ease transform 0.3s;

      & .text {
        opacity: 0;
        will-change: opacity;
      }
    }

    &.success {
      & .success-block {
        transform: scaleX(1);
        opacity: 1;
        transition: 0.5s ease all;

        & .text {
          opacity: 1;
          transition: 0.2s ease all 0.5s;
        }
      }
    }
  }
}
</style>
