<template>
  <div class="found">
    <h1>Already Found</h1>
    <ul class="found-list">
      <li v-for="(clue, index) in clues" :key="clue.code">Clue {{ index + 1 }}: {{ clue.text }}</li>
    </ul>
  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  props: {
    clues: Array
  }
})
export default class Found extends Vue {

}
</script>

<style scoped>
.found {
  & h1 {
    color: #888888;
    text-transform: uppercase;
    font-weight: 300;
  }

  & ul {
    list-style-type: none;
    padding-left: 1rem;

    & li {
      margin-top: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
</style>
