<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {}
</script>

<style>
html, body {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

* {
  box-sizing:border-box
}

#app {
  font-family: Helvetica, sans-serif;
  padding: 1rem;
  margin: 0;
}
</style>
